#frankenstein {
  designer: me;
  ordered-from: blurb.com;
  pages: 256;
  level-of-satisfaction-out-of-ten: 8;
}

#arch-of-triumph {
  comments: lots-of-great-quotes;
}

#random-ribbon {
  color: black;
  texture: ribbed;
  origin: unknown;
}

sandpaper-set {
  reason-of-having: why-not;
}

#sketch-favourite {
  time-period: spring-2015;
  edge: 2cm solid pink-with-white-dots;
}

clothepins {
  size: mini;
  function: hang-photos;
}

dust {
  level-of-satisfaction-out-of-ten: -11;
}

#new-york-1 {
  gifted-by: aunt;
  year: 2013;
}

#geneve {
  gifted-by: friend;
  year: 2016;
}

#dominican-republic-1 {
  gifted-by: Dad;
  year: 2017;
}

#washington-dc {
  gifted-by: visited-myself;
  year: 2015;
}

#azerbaijan {
  gifted-by: grandma-visited-myself
  year: 2015;
}

#moscow {
  gifted-by: friend-visited-myself;
  year: 2016;
}

#new-year {
  gifted-by: friend;
  year: 2016;
  inside: rooster-holding-candy-cane-and-wearing-red-santa-hat;
}













